.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contentHolder{
    flex:1;
    display: flex;
    flex-direction: row;
}

.tabMenu{
    min-height: 100%;
    flex-grow: 1;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-basis: 200px;
    flex-wrap: wrap;
}
.contentBox{
    margin: 5px;
    flex-grow: 1;
}
.contentBoxInner{
    min-height: 400px;
}